//COLORS
//primary
$primary-color: #2c687d;
$primary-foreground-color: #ffffff;
$background-color: #f6f8f9;
$foreground-color: #263740;
//semantic colors
$card-color: #ffffff;
$muted-color: #eaeef0;
$muted-foreground-color: #819098;
$accent-color: #d9ecf2;
$border-color: #d8e2e6;
$success-color: #29a36a;
$warning-color: #f59f0a;
$destructive-color: #dc2828;
//TEXT
//size
$font-size-4xl: 2.25rem;
$font-size-3xl: 1.875rem;
$font-size-2xl: 1.5rem;
$font-size-xl: 1.25rem;
$font-size-lg: 1rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem;
//weight
$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-normal: 400;
//lav mixins her
