//@use "variables" as *;

* {
	font-family: $font-family;
}
body {
    margin: 0;
    padding: 0;
}
.layout-bb {
	max-width: $max-width-bygherre;
	margin: 0 auto;
	padding: 0 16px;
	padding-bottom: 80px;
	padding-top: 80px;
}
